  html,
  body {
    margin: 0;
    padding: 0;
    height: auto;
  }

  #container {
    min-height: 100%;
    position: relative;
  }

  #header {
    background: #3d1d56;
    padding: 10px;
  }

  #body {
    padding: 10px;
    padding-bottom: 20px;
    position: relative;
    /* Height of the footer */
  }

  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    /* Height of the footer */
    background: #3d1d56;
  }
