<!-- <div class="main container">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <p>
        <br><br> Bootstrap tutorial The complete and easy guide will teach you how to create stunning, responsive website
        and apps. Each lesson is provided with series of practical examples and each of those examples brings an essential
        web design knowledge. Wordpress tutorial This comprehensive tutorial contains everything you have to know about WordPress
        Theme development, starting with setting the environment, through WordPress installation and configuration, setting
        up theme construction, development including custom widgets and functions.
      </p>
    </div>
    <div class="col-sm-6 col-md-6">
      <p>
        <br><br> Bootstrap tutorial The complete and easy guide will teach you how to create stunning, responsive website
        and apps. Each lesson is provided with series of practical examples and each of those examples brings an essential
        web design knowledge. Wordpress tutorial This comprehensive tutorial contains everything you have to know about WordPress
        Theme development, starting with setting the environment, through WordPress installation and configuration, setting
        up theme construction, development including custom widgets and functions. Bootstrap tutorial The complete and easy
        guide will teach you how to create stunning, responsive website and apps. Each lesson is provided with series of
        practical examples and each of those examples brings an essential web design knowledge. Wordpress tutorial This comprehensive
        tutorial contains everything you have to know about WordPress Theme development, starting with setting the environment,
        through WordPress installation and configuration, setting up theme construction, development including custom widgets
        and functions.
      </p>
    </div>
  </div>
</div> -->


<section>
  <ngb-carousel>
    <div class="carousal">
      <ng-template ngbSlide>
        <img src="../../assets/images/d2.jpg" alt="Random third slide" class="rotatingImage">

      </ng-template>
    </div>
    <div class="carousal">
      <ng-template ngbSlide>
        <img src="../../assets/images/d3.jpg" alt="Random first slide" class="rotatingImage">

      </ng-template>
    </div>
    <div class="carousal">
      <ng-template ngbSlide>
        <img src="../../assets/images/d6.jpg" alt="Random second slide" class="rotatingImage">

      </ng-template>
    </div>
    <div class="carousal">
      <ng-template ngbSlide>
        <img src="../../assets/images/d4.jpg" alt="Random second slide" class="rotatingImage">

      </ng-template>
    </div>
    <div class="carousal">
      <ng-template ngbSlide>
        <img src="../../assets/images/d1.jpg" alt="Random second slide" class="rotatingImage">

      </ng-template>
    </div>
    <!-- <ng-template ngbSlide>
      <img src="../../assets/images/slider8.jpg" alt="Random second slide" class="rotatingImage">
      <div class="carousel-caption">

        <div class="searchbar">
          <app-ng2-google-place-autocomplete></app-ng2-google-place-autocomplete>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/images/slider9.jpg" alt="Random second slide" class="rotatingImage">
      <div class="carousel-caption">

        <div class="searchbar">
          <app-ng2-google-place-autocomplete></app-ng2-google-place-autocomplete>
        </div>
      </div>
    </ng-template> -->

  </ngb-carousel>
</section>
