<div class="top">
  <div class="container row">
    <div class="col-sm-9 col-md-9 col-xs-9 tag container">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-xs-2">
        </div>
        <!-- <a name="companyName" href="company">Company Name</a> -->
        <div class="col-sm-10 col-md-10 col-xs-10">
          <p>MONSTER'S HUB</p>
        </div>
      </div>

    </div>

    <div class="col-sm-3 col-md-3 col-xs-3">
      <div *ngIf="checkLogin" class="buttons">
        <button class="btn btn-md btn-outline-info logbt" [routerLink]="['/login']" [routerLinkActive]="['router-link-active']">Login</button>
        <button class="btn btn-md btn-outline-info regbt" [routerLink]="['/register']" [routerLinkActive]="['router-link-active']">Register</button>
      </div>
    </div>
  </div>
</div>
<hr class="style13">
