<!-- <br>
<br>
<ul class="sidebar list-group"><br>
  <li class="list-group-item">Angular Components</li>
  <li class="list-group-item">Angular Modules</li>
  <li class="list-group-item">Angular Features</li>
  <li class="list-group-item">Angular Applications</li>
  <li class="list-group-item">Examples</li>
</ul> -->
<!-- <button type="submit" class="fa fa-power-off" (click)="logout()"></button> -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
                        Start Bootstrap
                    </a>
    </li>
    <li>
      <a href="#">Dashboard</a>
    </li>
    <li>
      <a href="#">Shortcuts</a>
    </li>
    <li>
      <a href="#">Overview</a>
    </li>
    <li>
      <a href="#">Events</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <button type="submit" class="fa fa-power-off btn btn-danger bt" (click)="logout()"></button>
    </li>
  </ul>
</div>
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

</script>
