<body>
  <p class="tag">Register with us..</p>
  <form [formGroup]="signupForm" novalidate (ngSubmit)="onSubmit(signupForm.value)">
    <div class="container">


      <div class="form-group">

        <input type="text" name="firstname" formControlName="firstname" class="form-control" id="firstname" placeholder="Enter Your First Name">

      </div>


      <div class="form-group">

        <input type="text" name="lastname" formControlName="lastname" class="form-control" id="lastname" placeholder="Enter Your Last Name">

      </div>


      <div class="form-group">

        <input type="email" name="email" formControlName="email" class="form-control" id="email" placeholder="Enter Your Email 'example@abc.com'">

      </div>


      <div class="form-group">

        <input type="password" name="password" formControlName="password" class="form-control" id="password" placeholder="Enter Your Password (alphabets & numbers only)">

      </div>


      <div class="form-group">

        <input type="number" name="contact" formControlName="contact" class="form-control" id="contact" placeholder="Enter Your Contact Number">

      </div>
    </div>
    <div class="wrapper">

      <button type="submit" [disabled]="!signupForm.valid" class="submit_button btn-lg btn btn-primary">Register</button>
      <button type="reset" value="Reset" class="reset_button btn-lg btn btn-danger">Reset</button>
    </div>

  </form>
</body>
